{% if request.user.is_authenticated %}
	<form method='POST' action="{% url 'products:add_product' %}"> {% csrf_token %}
	   <div class='col-12 col-md-6'>
   	   		{{ form.as_p }}
			{% for store in stores%}
		  		{{ store }}
			{% endfor %}
		<button type='submit' class='btn btn-default'>Submit</button>
		</div>
		</form>
{% else %}
	     <div class='col-12 col-md-6'>
	        <p class='lead'>Login</p>
	        {% include 'accounts/snippets/form.html' with form=loginForm next_url=request.build_absolute_uri %}
	        {{ request.build_absolute_uri }}
    	</div>
{% endif %}
	  
		
  
