{% extends "base.html" %}

{% block content %}
<div class='row'>
<div class='col-12'>
<h1>Account</h1>
<hr/>
</div>
<div class='col-12 col-md-3 my-3'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Support</h4>
            <div class='list-group'>
                <a class='list-group-item' href='{% url "about" %}'>About</a>
                <a class='list-group-item' href='{% url "contact" %}'>Contact</a>
            </div>
      </div>
    </div>
</div>



<div class='col-12 col-md-3 my-3' id='billing'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Billing</h4>
            <div class='list-group'>
                <a class='list-group-item' href='{% url "orders:list" %}'>Orders</a>
                <a class='list-group-item' href='{% url "billing-payment-method" %}'>Payment Methods</a>
                <a class='list-group-item' href='{% url "addresses" %}'>Addresses</a>
                
                
            </div>
      </div>
    </div>
</div>


<div class='col-12 col-md-3 my-3'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Account Details</h4> 
            <div class='list-group'>
                <a class='list-group-item' href='{% url "account:user-update" %}'>Update Details</a>
                <a class='list-group-item' href='{% url "password_change" %}'>Change Password</a>
                <a class='list-group-item' href='{% url "library" %}'>Library</a>
                
            </div>

      </div>
    </div>
</div>





<div class='col-12 col-md-3 my-3'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">History</h4> 
              <div class='list-group'>
                <a class='list-group-item' href='{% url "account:user-product-history" %}'>Products</a>
            </div>
      </div>
    </div>
</div>

{% if user.is_authenticated and user.is_seller %}

<div class='col-12 col-md-3 my-3'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">bussnisse</h4>
        <div class='list-group'>
                <a class='list-group-item' href='{% url "stores:list" %}'>view other stores</a>
            </div>
              <div class='list-group'>
                <a class='list-group-item' href='{% url "stores:add_store" %}'>add your store now</a>
            </div>
            <div class='list-group'>
                <a class='list-group-item' href='{% url "products:add_product" %}'>add product to your store</a>
            </div>
      </div>
    </div>
</div>
{% endif %}

</div>
<h1 class="title is-size-1">Django Stripe Connect</h1>
<hr><br>
{% if user.is_authenticated %}
  <p class="is-size-6">Welcome, {{ user.email }}!</p>
  <br>
  {% if user.is_seller and not user.seller.stripe_user_id %}
<a href="{% url 'account:authorize' %}" class="button is-info">Connect your Stripe Account</a>
{% endif %}
  <a href="{% url 'products:list' %}" class="button is-primary">Purchase A product</a>
{% else %}
  <p class="is-size-6">Please <a href="{% url '/login/' %}">log in</a>.</p>
{% endif %}


{% endblock %}